@page
@model RegisterConfirmationModel
@{
    ViewData["Title"] = "Register confirmation";
}

<h1>@ViewData["Title"]</h1>
@{
    <p>
        Please check your email to confirm your account. Note that it may go to spam as dns records change and update.
    </p>

}

