@page "/"
@using System.Reflection

<PageTitle>Giffyglyph's Monster Maker V3</PageTitle>

<div>
    <h1>Giffyglyph's Monster Maker V3</h1>
    <p class="float-end text-secondary fst-italic fw-bold">@(Assembly.GetExecutingAssembly()?.GetName()?.Version)</p>
</div>

<div>Unofficial App developed by Skyl3lazer, system by Giffyglyph</div>

<div class="my-2">
    <span class="fw-bold">DISCLAIMER:</span><span> This is a BETA application! There may be data wipes! Please keep an eye on the front page for announcements.</span>
</div>
<div class="my-2"><span>This app is provided AS-IS, with no expectation of support!</span></div>
<div class="my-2">You can contact me on Discord if you have questions/find bugs: <span class="fa-brands fa-discord" /><span class="fw-bold">Skyl3lazer#8532</span></div>
<AuthorizeView>
    <NotAuthorized>
        <div class="my-2"><span class="fw-bold">You are not currently logged in.</span> Please register an account and log in to access the monster creator and stat block printer.</div>
    </NotAuthorized>
    <Authorized>
        <div class="fw-bold my-0 alert alert-info">Please message me with errors from your f12 console or the page itself if you get them!</div>
        <div>
            <div class="my-2"><span class="fw-bold">1.1 Version Features</span></div>
            <div>
                <ul>
                    <li>
                        Added <span class="fw-bold">Folders</span>!
                        <ul>
                            <li>As with the rest of the program, this feature is a beta.</li>
                            <li>Monsters that already existed were put in to the base "/" folder.</li>
                            <li>Open the "Folder" dropdown above the monster list to view subfolders and create new folders.</li>
                            <li>There is a button to move your active monster into your current folder.</li>
                            <li>Folders can be deleted if they are empty (no monsters or subfolders).</li>
                            <li>The green folder indicates the folder your active monster is currently in.</li>
                            <li>On the print page, you can navigate folders and print monsters in just that folder.</li>
                        </ul>
                    </li>
                    <li>If you have feedback, please let me know! I know the UI is simple currently. I want to know what people want from this feature.</li>
                    <li>Upcoming related changes: 
                        <ul>
                            <li>Renaming folders</li>
                            <li>Deleting folders that aren't empty.</li>
                            <li>Moving folders</li>
                            <li>Print all monsters, ignoring folder?</li>
                        </ul> 
                    </li>
                </ul>
            </div>
            <!--<div class="my-2"><span class="fw-bold">Recent Changes</span></div>
            <div>
                <ul>
                    <li>Random damage overrides per ability</li>
                </ul>
            </div>-->
            <div class="my-2"><span class="fw-bold">Upcoming Changes</span></div>
            <div>
                <ul>
                    <li>Pictures</li>
                    <li>Skins for monster types</li>
                    <li>Don't display generic feature traits in editor that don't matter (like delay on traits)</li>
                    <li>Bugfixes, etc.</li>
                </ul>
            </div>
            <div class="my-2"><span class="fw-bold">Recent Bugfixes</span></div>
            <div>
                <ul>
                    <li>Paragon Powers reported too many available uses (by 1)</li>
                    <li>Skirmishers get their PB to passive perception</li>
                </ul>
            </div>
        </div>
    </Authorized>
</AuthorizeView>