@page "/"

<PageTitle>Giffyglyph's Monster Maker V3</PageTitle>

<h1>Hello, world!</h1>

App developed by Skyl3lazer, system by Giffyglyph

<div>
    <span class="fw-bold">DISCLAIMER:</span><span> This is an ALPHA application! You may lose your work SUDDENLY, and WITHOUT WARNING as I change data schemas.</span>
</div>
<div><span>This app is provided AS-IS, with no expectation of support!</span></div>