@page "/"
@using System.Reflection

<PageTitle>Giffyglyph's Monster Maker V3</PageTitle>

<div>
    <h1>Giffyglyph's Monster Maker V3</h1>
    <p class="float-end text-secondary fst-italic fw-bold">@(GetType()?.Assembly?.GetName()?.Version?.ToString())</p>
</div>

<div>Unofficial App developed by Skyl3lazer, system by Giffyglyph</div>

<div class="my-2">
    <span class="fw-bold">DISCLAIMER:</span><span> This is a BETA application! There may be data wipes! Please keep an eye on the front page for announcements.</span>
</div>
<div class="my-2"><span>This app is provided AS-IS, with no expectation of support!</span></div>
<div class="my-2">You can contact me on Discord if you have questions/find bugs: <span class="fa-brands fa-discord" /><span class="fw-bold">Skyl3lazer#8532</span></div>
<AuthorizeView>
    <NotAuthorized>
        <div class="my-2"><span class="fw-bold">You are not currently logged in.</span> Please register an account and log in to access the monster creator and stat block printer.</div>
    </NotAuthorized>
    <Authorized>
        <div class="fw-bold my-0 alert alert-info">Please message me with errors from your f12 console or the page itself if you get them!</div>
        <div>
            <div class="my-2"><span class="fw-bold">Recent Changes</span></div>
            <div>
                <ul>
                    <li>The site is off whitelist mode! Welcome, new users.</li>
                    <li>Added a basic help page</li>
                    <li>Chrome styling fixes</li>
                    <li>Added first pass on 2 column layout. Printed pages may or may not work entirely correctly with them.</li>
                    <li>
                        Added the "IsAttack" and "Concentration" flag to Actions(and subtypes) to allow for concentration, non-attack spells, or attacks with saves, etc.
                        <ul>
                            <li>Note IsAttack has been automatically set to true for all actions, so you'll need to update if that isn't correct on old entries</li>
                        </ul>
                    </li>
                </ul>
            </div>
            <div class="my-2"><span class="fw-bold">Upcoming Changes</span></div>
            <div>
                <ul>
                    <li>Encounter sets that work for printing and organizing</li>
                    <li>Pictures</li>
                    <li>Skins for monster types</li>
                    <li>Don't display generic feature traits that don't matter (like delay on traits)</li>
                    <li>CR/XP on creatures</li>
                    <li>Bugfixes, etc.</li>
                </ul>
            </div>
            <div class="my-2"><span class="fw-bold">Recent Bugfixes</span></div>
            <div>
                <ul>
                    <li>Defenders were doing too much damage (100% -> 75%)</li>
                    <li>Monsters weren't sorting correctly (now by name)</li>
                    <li>Charge ability text was malformed</li>
                </ul>
            </div>
        </div>
    </Authorized>
</AuthorizeView>