@page "/"

<PageTitle>Giffyglyph's Monster Maker V3</PageTitle>

<h1>Giffyglyph's Monster Maker V3</h1>

<div>App developed by Skyl3lazer, system by Giffyglyph</div>

<div class="my-2">
    <span class="fw-bold">DISCLAIMER:</span><span> This is an ALPHA application! You may lose your work SUDDENLY, and WITHOUT WARNING as I change data schemas.</span>
</div>
<div class="my-2"><span>This app is provided AS-IS, with no expectation of support!</span></div>
<div class="my-2">You can contact me on Discord if you have questions/find bugs: <span class="fa-brands fa-discord" /><span class="fw-bold">Skyl3lazer#8532</span></div>
<AuthorizeView>
    <NotAuthorized>
        <div class="my-2"><span class="fw-bold">You are not currently logged in.</span> Please register an account and log in to access the monster creator and stat block printer.</div>
        <div>Note that while the app is in alpha, it's currently in whitelist mode. Message me on discord to request access!</div>
    </NotAuthorized>
    <Authorized>
        @if (context.User.IsInRole("User"))
        {
            <div class="my-2"><span class="fw-bold">Thank you for registering.</span> The site is currently in whitelist mode. Message me on discord to request access!</div>
        }
    </Authorized>
</AuthorizeView>