@page "/"

<PageTitle>Giffyglyph's Monster Maker V3</PageTitle>

<h1>Giffyglyph's Monster Maker V3</h1>

<div>Unofficial App developed by Skyl3lazer, system by Giffyglyph</div>

<div class="my-2">
    <span class="fw-bold">DISCLAIMER:</span><span> This is an ALPHA application! You may lose your work SUDDENLY, and WITHOUT WARNING as I change data schemas.</span>
</div>
<div class="my-2"><span>This app is provided AS-IS, with no expectation of support!</span></div>
<div class="my-2">You can contact me on Discord if you have questions/find bugs: <span class="fa-brands fa-discord" /><span class="fw-bold">Skyl3lazer#8532</span></div>
<AuthorizeView>
    <NotAuthorized>
        <div class="my-2"><span class="fw-bold">You are not currently logged in.</span> Please register an account and log in to access the monster creator and stat block printer.</div>
        <div>Note that while the app is in alpha, it's currently in whitelist mode. Message me on discord to request access!</div>
    </NotAuthorized>
    <Authorized>
        @if (context.User.IsInRole("User"))
        {
            <div class="my-2"><span class="fw-bold">Thank you for registering.</span> The site is currently in whitelist mode. Message me on discord to request access!</div>
        }
        else
        {
            <div class="fw-bold my-0 alert alert-info">Please message me with errors from your f12 console or the page itself if you get them!</div>
            <div class="my-1">Thanks for helping out with testing! I hope to not push to Azure more than 1-2 times a day since it'll interrupt anything going on.</div>
            <div>
                <div class="my-2"><span class="fw-bold">Things to Focus On Testing</span></div>
                <ul>
                    <li>When making various action (and action subtypes) let me know if there's anything you want to do but <span class="fst-italic">can't</span></li>
                    <li>Without using override markup I mean.</li>
                </ul>
            </div>
            <div>
                <div class="my-2"><span class="fw-bold">Recent Changes</span></div>
            <div>
                <ul>
                    <li>Paragon Power/Defenses now list, and you can customize the number on elite/paragon monsters</li>
                    <li>Big styling update</li>
                    <li>Moved Reactions as an Action subtype (like Free/Bonus are)</li>
                    <li>Added 'delay' options to Features</li>
                    <li>Dark mode and png save (column toggle button doesnt do anything atm)</li>
                </ul>
            </div>
                <div class="my-2"><span class="fw-bold">Upcoming Changes</span></div>
                <div>
                    <ul>
                        <li>Pictures</li>
                        <li>Skins for monster types</li> 
                        <li>Don't display generic feature traits that don't matter (like delay on traits)</li>
                        <li>Prepopulating all of the features from the pdf</li>
                        <li>Constant improvements to styling to make it look+feel better</li>
                    </ul>
                </div>
            </div>
        }
    </Authorized>
</AuthorizeView>