@media print and (width: 8.5in) and (height: 11in) {
  @page {
    margin: 1in;
  }
}
::deep .fs-6 {
  font-size: 0.5rem !important;
  overflow: visible;
}

::deep .container-xxl {
  float: none;
}

body {
  overflow: visible;
}
