@inherits LayoutComponentBase
@using GiffyglyphMonsterMakerV3.Data;
@inject MonsterService _MonsterService;

<PageTitle>GiffyglyphMonsterMakerV3</PageTitle>

<div class="page">
    <div class="sidebar d-print-none">
        <NavMenu />
    </div>

    <main>
        <CascadingValue Value="@Monsters">
            <article class="content px-4">
                @Body
            </article>
        </CascadingValue>
    </main>
</div>

@code
{
    private List<Monster> Monsters { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Monsters = await Task.Run(() => _MonsterService.GetAllMonstersAsync());
        if (Monsters.Count == 0)
        {
            Monster monster = new("My First Monster");
            Monsters.Add(monster);
            await _MonsterService.InsertMonsterAsync(monster);
        }
    }
}
