@inherits LayoutComponentBase
@using GiffyglyphMonsterMakerV3.Data;
@using System.Security.Claims;
@using Microsoft.AspNetCore.Identity
@inject MonsterService _MonsterService;
@inject UserManager<ApplicationUser> _UserManager

<PageTitle>GiffyglyphMonsterMakerV3</PageTitle>

<div class="page">
    <div class="sidebar d-print-none">
        <NavMenu />
    </div>

    <main>
        <div class="top-row px-4 auth d-print-none">
            <LoginDisplay />
        </div>
        <CascadingValue Value="@Monsters">
            <article class="content px-4">
                @Body
            </article>
        </CascadingValue>
    </main>
</div>

@code
{
    [CascadingParameter]
    private Task<AuthenticationState> authenticationStateTask { get; set; }
    private List<Monster> Monsters { get; set; }

    protected override async Task OnInitializedAsync()
    {
        var authState = await authenticationStateTask;
        var user = authState.User;
        var userId = user.FindFirstValue(ClaimTypes.NameIdentifier);
        
        Monsters = await Task.Run(() => _MonsterService.GetAllMonstersAsync());
    }
}
