@inherits LayoutComponentBase
@using GiffyglyphMonsterMakerV3.Data;
@using Action = GiffyglyphMonsterMakerV3.Data.Action
@inject MonsterService _MonsterService;

<PageTitle>GiffyglyphMonsterMakerV3</PageTitle>

<div class="page">
    <div class="sidebar d-print-none">
        <NavMenu />
    </div>

    <main>
        <CascadingValue Value="@Monsters">
            <article class="content px-4">
                @Body
            </article>
        </CascadingValue>
    </main>
</div>

@code
{
    private List<Monster> Monsters { get; set; } = new();

    protected override async Task OnInitializedAsync()
    {
        Monsters = await Task.Run(() => _MonsterService.GetAllMonstersAsync());
    }
}
