@inherits LayoutComponentBase
@using GiffyglyphMonsterMakerV3.Data;

<PageTitle>GiffyglyphMonsterMakerV3</PageTitle>

<div class="page">
    <div class="sidebar d-print-none">
        <NavMenu />
    </div>

    <main>
        <CascadingValue Value="@Monsters">
            <article class="content px-4">
                @Body
            </article>
        </CascadingValue>
    </main>
</div>

@code
{
    private List<Monster> Monsters { get; set; } = new();

    protected override void OnInitialized()
    {
        Monster monster = new("My First Monster");
        Monsters.Add(monster);
    }
}
